<div class="well">
  <h1> BURGERS </h1>
</div>

<div class="container-fluid">
  <div class="row">   
      <div class="col-md-6">
      {{#each burgers_data}}
        {{#if this.devoured}}  
        <table class="table table-condensed">
          <thead>
            <tr>
              <th> Burgers </th>
            </tr>
          </thead>
          <tbody>
            <tr>
            <form method="POST" action="/devour">
              {{this.burger_name}}
              <input type="hidden" type="text" name="burger_name" value={{this.burger_name}}>
              <button type="submit" class="btn btn-warning"> Devour It </button>
            </form>
            </tr>
          </tbody>
        </table>        
      </div>
      {{/if}}
      <div class="col-md-6">
        <table class="table table-condesned">
          <thead>
            <th>
              Devoured burgers
            </th>
          </thead>
          <tbody>
            <tr>
              {{this.burger_name}}
            </tr>
          </tbody>
        </table>    
  </div>
  {{/each}} 
  </div>
  <div class="row">
    <div class="col-md-6 col-md-3-offset">
      <form action="/add" method="POST">
        <textarea class="form-control" type="text" name="burger_name" value="" id="enter_text"></textarea>
        <button type="submit" class="btn btn-success"> Add burger</button>
      </form> 
    </div>
  </div>
</div>  