<div class="well">
  <h1> BURGERS </h1>
</div>

<div class="container-fluid">
  <div class="row"> 
    {{#each burgers_data}}
      {{#if !this.devoured}}
        <div class="col-md-6">
          <table class="table table-condensed">
            <thead>
              <tr>
                <th> Burgers </th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <span>this.burger_name</span>
                <button class="btn btn-danger"> X </button>
              </tr>
            </tbody>
          </table>
        </div>
      {{/if}}
      {{if this.devoured}}
        <div class="col-md-6">
          <table class="table table-condensed">
            <thead>
              <tr>
                <th> Burgers Devoured </th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <span>this.burger_name</span>
                <button class="btn btn-danger"> X </button>
              </tr>
            </tbody>
          </table>
        </div>
      {{/if}}
    {{/each}}
  </div>
  <div class="row">
    <div class="col-md-6 col-md-3-offset">
      <form action="/add" method="POST">
        <textarea class="form-control" type="text" name="burger_name" value="" id="enter_text"></textarea>
        <button type="submit" class="btn btn-success"> Add burger</button>
      </form> 
    </div>
  </div>
</div>  