<div class="well">
  <h1> BURGERS </h1>
</div>

<div class="container-fluid">
  <div class="row">   
      <div class="col-md-6">
      {{#each burgers_data}}
        {{#if this.devoured}}  
        <table class="table table-condensed">
          <thead>
            <tr>
              <th> Burgers </th>
            </tr>
          </thead>
          <tbody>
            <pre> {{this.burger_name}} </pre>
            <tr>
            <form method="POST" action="/devour?_method=PUT">
              <input type="hidden" type="text" name="burger_id" value={{this.id}}>
              <button type="submit" class="btn btn-warning"> Devour It </button>
            </form>
            </tr>
          </tbody>
        </table>
        {{/if}}
      {{/each}}
      </div>
  </div>
  <div class="row">
    <div class="col-md-6 col-md-3-offset">
      <form action="/add" method="POST">
        <textarea class="form-control" type="text" name="burger_name" value="" id="enter_text"></textarea>
        <button type="submit" class="btn btn-success"> Add burger</button>
      </form> 
    </div>
  </div>
</div>  